<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031951201822-c28e903h04h67jik3098frbqqkhm5rh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031951201822-c28e903h04h67jik3098frbqqkhm5rh6</string>
	<key>API_KEY</key>
	<string>AIzaSyBySTjSeKLtraPM77RmdulQ0f4srvlqj-k</string>
	<key>GCM_SENDER_ID</key>
	<string>1031951201822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeapp</string>
	<key>PROJECT_ID</key>
	<string>cool-coffee-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cool-coffee-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031951201822:ios:5cac295dab64deca83200f</string>
</dict>
</plist>